<%- include('../sidebar.html') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>键盘客制化 新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- helper.markdown(`
## 键盘客制化 新手入门

- 布局工具：
http://www.keyboard-layout-editor.com/#/

- 定位板生成工具：
http://builder.swillkb.com/

- 布局生成视频：
https://www.bilibili.com/video/BV1Th411C7Z9/


- tmk git:
 https://github.com/tmk

- qmk git:
https://github.com/qmk

- qmk固件文档：
https://docs.qmk.fm/#/

- pcb设计：
https://lceda.cn/

`) %>
      </div>
    </div>
  </div>
</div>
